.body{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    
    }
  .board {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    column-gap:4px;
    row-gap: 3px;
    margin: 20px;
   
    justify-content: center;
    align-items: center;
   
  }
  h1{ 
    font-size: 60px;
    color: aliceblue;
  }
  .container{
    justify-content: center;
    align-items: center;
    text-align: center;
  
  }
  .cell {
    width: 70px;
    height: 70px;
    border: 2px #333333;
    border-radius: 5px;
    font-size: 4em;
    color: #000000;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-image:conic-gradient(#ffff,rgb(119, 40, 246),rgb(81, 238, 244),#9669ff,#fa0202,#ececec);
  }
  .status{color: #ececec;
  font-size: 25px;}
  td{
    color:black;
  }
  #score{
    height: 170px;
    width: 160px;
    background-color: aliceblue;
    border-radius: 5px;
    margin-left:69%;
    position:absolute;
    padding: 20px;
    margin-top: 90px;
  
  }
  p{
    color: aliceblue;
  }
  #scoreboard .score {
    text-align: center;
    font-size: 30px
    background-color:white;
  }
  #btn{
    height: 40px;
    width: 100;
    border-radius:8px;
    background-color:#F76541;
    cursor: pointer;
  }
  
  #btn:hover{
    background-color: #9669ff;
  }
  #btn1:hover{
  background-color: #9669ff;
  }
  .popup,.modal-content{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 500px;
    padding: auto;
  }
  #gameResultMessage{
    color: #000000;
  }
  